# Dependencies
node_modules/

# Build outputs
.next/
dist/
.out/
.build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Go
bin/
*.exe
*.test
coverage/

# Docker
**/.docker/
